<%- include('./partials/header.ejs') %>

<div class="container text-center">
  <div class="today dark-blue-font garamond pt-5">
    <% if (locals.todayList) { %>
    <% todayList.forEach((e, i) => { %>
    <div class="row todo-text pb-3">
      <div class="col-10 todo-container text-end py-3">
        <form action="/put/todayEntry/<%= e._id %>" method="post">
          <% if (e.checked == false) { %>
           <input id="<%= e._id %>" class="text-end" type="text" name="textTodoEntry" value="<%= e.entry %>">
          <% } else { %>
          <input id="<%= e._id %>" class="text-end text-decoration-line-through" type="text" name="textTodoEntry" value="<%= e.entry %>">
          <% } %>
        </form>
      </div>
      <div class="col-2 py-3 dark-blue-back">
        <form action="/put/todayEntry/<%= e._id %>" method="post">
          <% if (e.checked === false) { %>
          <button class="todo-btn" id="<%= e._id %>" type="submit" name="checkedTodoEntry" value="<%= e.checked %>">
            <img class="todo-icon" src="/assets/images/checkmark_unchecked.png" alt="Checkmark unchecked">
          </button>
          <% } else { %>
          <button class="todo-btn" id="<%= e._id %>" type="submit" name="checkedTodoEntry" value="<%= e.checked %>">
            <img class="todo-icon" src="/assets/images/checkmark_checked.png" alt="Checkmark checked">
          </button>
          <% } %>
        </form>
      </div>
    </div>
    <% }) %>
    <% } else { %>
    <p class="mb-0 h2">EMPTY</p>
    <% } %>
  </div>
  <div class="navigation"></div>
</div>

<%- include('./partials/menu.ejs') %>

<%- include('./partials/footer.ejs') %>